.jumbotron {
    color: #fff;
    background-position-y: 10%;
    color: #fff;
    background-color: blue;
}

.btn-primary {
    background-color:blue;
    border-color: #fff;
    font-weight: bold;
}
